
.card{
    border: 1px red;
    padding: 5%;
}


#fondMenu {
    width: 100%;
    height: 125px;
    background: linear-gradient(red);
    background-color: red;
    border-radius: 0px 0px 4px 4px;
}

#menu {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    padding: 0%;
}

#menu li{
    display: table-cell;
    width: 180px;
}

#menu li:hover{
    width: 190px;
}

#menu a{
    color: black;
    text-decoration: none;
    display: block;
    line-height: 50%;
    text-align: center;
    margin-top: 30%;
}


/* CSS Index - Carrousel */
#indxCarrousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
    height: 500px;
    
}

#indxCarrouselImages {
    position: absolute;
    z-index: 1 !important;
    width: 100%;
    height: auto;
    opacity: 0.5;
/* lui mettre une position ABSOLUTE*/
}
#indxCarrouselText {
    z-index: 2;
}






/* CSS Index - Footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: blue;
}

/*END CSS Index - Footer */

#Forms{
    width: 40%;
}

