/*CSS Menu*/
nav{
   display: flex;
   flex-direction: row; 
}

.navbar{
    background-color: #980D2B;
    height: 100px; 
}

nav ul li{
    display: inline-block;
    margin: 0 30px;
    list-style: none;
}

nav ul li a{
    color: white;
    font-size: 17px;
    list-style: none; 
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
#logo{
    height: auto;
    width: 70%;
}



.btn{
    cursor: pointer;
    text-transform: none;
    transition: 0,5s;
    color: lightblue;
    list-style: none;
    text-decoration: none;
    border-radius: 10px;
    background-size: 200%;
    background-image: linear-gradient(
        to right,
        #980D2B,
        white,
        #980D2B
    );
}
.btn:hover{
    background-position: right;
}


ul :hover{
    color: gray;
    text-decoration: none;
}

.btn{
    color: white;
    border: white;
}

.btn a{
    color: white;
}
.categorie {
    margin: 5%;
}

h2{
    text-align: center;
    margin-bottom: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    margin-top: 0;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
}



@media (max-widht: 320px){
 
}




/* CSS Index - Carrousel */
#indxCarrousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
    height: 500px;
    
}

#indxCarrouselImages {
    position: absolute;
    z-index: 1 !important;
    width: 100%;
    height: auto;
    opacity: 0.5;
/* lui mettre une position ABSOLUTE*/
}
#indxCarrouselText {
    z-index: 2;
}






/* CSS Index - Footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: blue;
}

/*END CSS Index - Footer */

/* Start Contact Page */
#divFormsContactAdress{
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#divContactAdress{
    width: 45%;
}

#Forms{
    width: 45%;
}

#divTeamCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.team img {
    width: 150px;
    border-radius: 50%;
}
/* End Contact Page */