h2{
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Josefin Sans', sans-serif;
}

/*CSS Menu*/


nav{
    background-color: #980D2B;
    height: 100px; 
    width: 100vw !important;

}
.navbar-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}
nav ul li{
    display: inline-block;
    margin: 0 30px;
    list-style: none;
}

nav ul li a{
    color: white;
    font-size: 20px;
    list-style: none; 
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
#logo{
    height: auto;
    width: 70%;

}

.btn{
    cursor: pointer;
    text-transform: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
}
.btn :hover{
    color: gray;
    text-decoration: none;
}

ul :hover{
    color: black;
    text-decoration: none;
}

.btn{
    color: white;
    border: white solid 2px;
    margin-left: 20px;
}

.btn a{
    color: white;
}

.categorie {
    margin: 5%;
}

/* CSS Index - Carrousel */
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 250px !important;
    left: 15%;
}

.carousel-caption h5 {
    font-family: Josefin Sans;
    font-weight: 400;
    padding-top: 50px;
}

.indxHdrLogo {
    width: 400px !important;
    height: auto;
}

.d-block {
    opacity: 90%;
}




/* CSS Index - Categories */
.emoji{
    font-size: 4em;
    text-align: center;
    margin-bottom: -0.2em;
}
.subTitre{
    text-align: center;
    margin: 0;
}

.card{
    border: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16) ;
}
.card:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.32) ;
}

.titreCards{
    border-bottom: #980D2B solid 1px;
    margin-bottom: 2em;
}
.card-title{
    color: #262122;
    font-weight: bold;
}
.card a:hover{
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.card-deck{
    background-image: src="images/tache-vin.svg";
}
.card-body div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lienText{
    color: #980D2B;
    border-bottom: #980D2B solid 1px;
    margin: 0;
    width: auto;
}

.texteRed{
    color: #980D2B;
}
/*END CSS Index - cards -sections */


/* CSS Index - Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #175676;
    box-sizing: border-box;
}

#footerChild1 {
    margin: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#footerLogo {
    opacity: 0.5;
    width: 200px;
    height: auto;
    align-self: center !important;
}

#footerFollow,
#footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
}

#footerFollow>li,
#footerInfo>li {
    list-style: none;
}

.fab {
    padding-right: 10px;
}

.fab:hover {
    padding-right: 10px;
    color: white;
    opacity: 0.7;
}

footer h3{
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 0 0 0;
    letter-spacing: 1px;
    font-family: Josefin Sans;
}

footer h3:hover{
    color: white;
}

footer a{
    color: white;
    opacity: 0.7;
    font-size: 14px;
    letter-spacing: 0.72px;
    font-family: Josefin Sans;
    font-weight: 300;
}

footer a:hover{
    color: white;
    opacity: 0.7;
}


#footerEmail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

#footerFollow>a {
    font-size: 14px;
    color: white;
    opacity: 0.7;
    padding:0;
}

#footerEmail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#footerEmailInput {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#footerEmailInput input{
    margin-top: -10%;
    border: solid 1px #2c2b2b;
    border-radius: 4px 0px 0px 4px;
    padding: 5px 10px;
}

#footerEmailInput input::placeholder{
    font-size: 12px;
}

#footerEmailValider {
    margin-top: -10%;
    background-color: #980D2B;
    border: solid 1px #2c2b2b;
    border-radius: 0px 4px 4px 0px;
    padding: 5px 10px;
}

.fas {
    color: white;
    padding: 5px;
    font-size: 12px;
}

#footerChild2 {
    margin: 0 15%;
}

#footerChild2>hr {
    color: white;
    opacity: 0.7;
    border: 1px solid white;
    margin: 20px 0 10px 0;

}
#footerChild2>p {
    color: white;
    opacity: 0.7;
    font-size: 12px;
    font-family: Josefin Sans;
    font-weight: 200;
}
/*END CSS Index - Footer */

/* DEBUT PAGE CONTACT */
#divFormsContactAdressMap{
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#divContactAdressMap{
    width: 33%;
    display: flex;
    flex-direction: column;
    
}

#divContactMap{
    width: 33%;
}

#Forms{
    width: 33%;
}

#divTeamCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.teamImages {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(100%);
}

.teamImagesSquare {
    width: auto;
    height: 100%;
    
}

.teamImagesRec {
    width: 100%;
    height: auto;
}

#recadrageEmerick{
    margin-top: -25px;
}

/* DEBUT RESPONSIVE SITE */

/* Sur les écrans, quand la largeur de la fenêtre fait au minimum 1280px */
@media screen and (min-width: 1280px){
    .container{
        max-width: 1200px;
    }


}

/* Sur les écrans, quand la largeur de la fenêtre est comprise entre 992px et 1280px */
@media screen and (min-width: 992px) and (max-width: 1200px){
    /*Menu*/
    nav{
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }

    nav ul li{
        display: inline-block;
        margin: 0 12px;
        list-style: none;
    }

    #logo{
        height: auto;
        width: 150px;
    }

    nav ul li a{
        color: white;
        font-size: 17px;
        list-style: none; 
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
    }

    .btn{
        display: inline-block;
        
    }

    /*Footer*/
    #footerChild1 {
        margin: 0 5%;
    }
    #footerChild2 {
        margin: 0 5%;
    }
    #footerLogo {
        width: 150px;
        height: auto;
    }
    footer h3{
        font-weight: 400;
        font-size: 16px;
    }
    
    footer a{
        font-size: 12px;
        font-weight: 300;
    }
}

/* Sur les écrans, quand la largeur de la fenêtre est comprise entre 768px et 992px */
@media screen and (min-width: 768px) and (max-width: 992px){
    
    /*Menu*/
    #logo{
        width: 130px;
        height: auto;
    }
    
    nav ul li{
        display: inline-block;
        margin: 0 10px;    
    }

    nav ul li a{
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
    }
    /*Fin Menu*/
    #divFormsContactAdress{
        flex-direction: column-reverse;
    }

    #divContactAdressMap{
        flex-direction : column;
        width: 90%;
    }
    
    #Forms{
        width: 90%;
    }

    #divTeamCards{
        flex-direction: column;
        align-items: center;
    }
    /*Footer */
    #footerChild1 {
        margin: 0 10px;
    }

    #footerChild2 {
        margin: 0 2%;
    }

    #footerLogo {
        width: 125px;
        height: auto;
    }

    footer h3{
        font-weight: 400;
        font-size: 16px;
    }

    footer a{
        font-size: 12px;
        font-weight: 300;
    }
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 768px */
@media screen and (max-width: 768px){
    /*Menu*/

    #logo{
        width: 100px;
        height: auto;
    }
    
    nav ul li{
        display: inline-block;
        margin: 0 10px;    
    }

    nav ul li a{
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
    }
    /*Fin Menu*/
    /* Fin Menu*/

    #divFormsContactAdressMap{
        flex-direction: column-reverse;
    }

    #Forms{
        width: 90%;
    }

    #divTeamCards{
        flex-direction: column;
        align-items: center;
    }
    /*Footer */
    #footerChild1 {
        margin: 0 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #footerChild2 {
        margin: 0 2%;
        align-self: center;
    }
    #footerLogo {
        display: none;
    }
    footer h3{
        display: none;
    }
    .rs{
        display: none
    }
    #footerFollow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
    }
    .fab {
        font-size: 20px;
        padding: 20px;
    }
    #footerInfo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }

    #footerInfo li{
        padding: 0 10px 20px 10px;
    } 
    footer a{
        font-size: 12px;
        font-weight: 300;
    }
    #footerEmailInput {
        width: 100%;
        padding-bottom: 30px;
    }
}